.k-grid {
    .k-grid-container {
        .k-grid-content {
            .k-grid-table {
                a:hover {
                    text-decoration: underline;
                    color: blue;
                    font-size: 16px;
                }
            }
        }
    }

}