.container {
  margin: auto;
  /* max-width: 500px; */
  font-family: sans-serif;
}
  
.heading {
  color: rebeccapurple;
}
.navLinks {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navLinkItem {
  padding-right: 2rem;
}
.navLinkText {
  color: black;
}

.navMenu {
  margin: 2rem;
  align-items: flex-end;
}


.hrfLink {
  margin: 12px;
  font-size: var(--textFontSize);
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}