:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --fontFamilyType: Helvetica, sans-serif;
    --primaryColor: #333;
    --header2FontSize: 32px;
    --header1FontSize: 42px;
    --textFontSize: 15px;
}
